.wrapper {
    position: relative;
    overflow: scroll;
    width: 100%;

    /* border: 1px solid #ff0000; */
    height: 850px;
}

.column-wrapper {
    display: flex;
    height: 100%;

    /* gap: 10px; */

}

.board-heading {
    position: sticky;
    z-index: 2;
    top: 0;

    width: 100%;

    /* border: 1px solid darkblue; */
    padding: var(--general-padding);

    background-color: rgb(88 88 206);
}
