.wrapper {
    height: 100%;
    max-width: 400px;
    width: 100%;
    border: 1px solid #000000;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-top: none;
    gap: var(--general-padding);
    position: relative;

    /* background-color: red; */
}

.column-heading {
    top: 2.25em;
    backdrop-filter: blue(5px);
    position: -webkit-sticky;
    backdrop-filter: opacity(0.2);
    margin: calc(var(--general-padding)*-1);
    margin-bottom: var(--general-padding);
    background-color: white;
    filter: blur(0.4);
    position: sticky;
    padding: var(--general-padding);
    text-align: center;
    z-index: 2;
}